.**
/*

**/.*
**/.**
!.gitignore
!.github
*.log
*.bak

**/docs/**

**/__pycache__/
**/target/
**/external/
**/out/

!README.md
!go.mod
!go.sum
!LICENSE
!requirements.txt
!docs
!tests
!internal
!runnery.yaml
!summary.jq
!failed_models.jq
!prompt.md
!Makefile
!functions/
!cmd/
!internal/